<div class="flex flex-col gap-1">
  <label for="names" class="text-sm font-medium flex items-start"
    >{{ label }}
    @if (isRequired) {
      <span class="flex text-[#ef4343] items-center ml-1 self-center">*</span>
    }
  </label>
  <p-select
    [options]="watches()"
    [checkmark]="true"
    optionLabel="clientName"
    optionValue="clientId"
    [showClear]="true"
    [placeholder]="placeholder"
    styleClass="w-full h-14 rounded-xl  mt-2 input-like-select"
    [invalid]="isInvalid()"
    filter="true"
    [appendTo]="'body'"
    [formControl]="control"
  />

  @if (isInvalid()) {
    <p-message severity="error" size="small" variant="simple"
      >El dispositivo biométrico es requerido.</p-message
    >
  }
</div>
